* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  color: white;
}

.header {
  font-size: 5rem;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-btn {
  white-space: normal;
}

.MuiButton-label:hover {
  color: aqua;
}

.nav-btn a {
  padding-left: 0.5rem;
  position: relative;
  top: 2px;
  text-decoration: none;
}

.nav-btn a:hover {
  color: aqua;
}

.header-hyperlink {
  text-decoration: none;
}

.header:hover {
  color: aqua;
}

.intro {
  color: white;
  width: 100%;
}

.intro p {
  text-align: right;
}

.projects {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-img {
  width: 80vw;
  height: 100%;
  object-fit: scale-down;
  border-radius: 15px;
}

.project-text-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
  margin: 50px;
  text-align: center;
  align-items: center;
  background-color: #00667a;
  padding: 2rem;
  width: 50vw;
  border-radius: 15px;
}

.website-link h2 {
  padding-bottom: 30px;
}

.website-link h2:hover {
  color: aqua;
}

.github-link h3:hover {
  color: aqua;
}

.section-title {
  padding-left: 50px;
}

/* contact form */

.container {
  padding-bottom: 100px;
}

.contact-div {
  padding-bottom: 100px;
  background-color: #00667a;
  width: 50vw;
  border-radius: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contact-me-header {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 45px;
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* .email-link {
  text-align: center;
  font-size: 30px;
}

.email-link a {
  text-decoration: none;
}

.email-link a:hover {
  color: aqua;
  background-color: turquoise;
} */

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 1em;
  /* color: #999; */
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

::placeholder {
  font-style: italic;
  color: #999;
}

.contact-email {
  margin-top: 20px;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 97%;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  width: 12rem;
  margin-top: 15px;
  padding: 7px 35px;
  border-radius: 4px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

input[type='checkbox'] + label {
  color: #ccc;
  font-style: italic;
}

input[type='checkbox']:checked + label {
  color: #f00;
  font-style: normal;
}

div.info-and-form {
  background-color: white;
}

.resume-paragraph {
  background-color: #00667a;
  font-size: 16px;
  margin-left: 15rem;
  margin-right: 15rem;
}

.resume-paragraph p {
  padding: 5rem;
  text-align: left;
}

.resume-link {
  font-size: 5rem;
  text-align: center;
}

.resume-link a {
  text-decoration: none;
  font-style: italic;
}

.resume-link a:hover {
  color: aqua;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
}

.footer-icons {
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
}

.footer-icons a {
  padding: 2rem;
}

.footer-icons a svg:hover {
  fill: aqua;
}

.copyright {
  text-align: right;
  font: lighter;
  font-size: 2rem;
}

div.copyright {
  padding: auto;
  font-size: 20px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* media queries */

@media (min-width: 576px) {
  .header {
    margin-left: 3rem;
  }
  p.about-paragraph-phone {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header {
    font-size: 30px;
    margin-left: 2rem;
  }
  .nav-btn {
    align-items: flex-end;
  }
  .about-paragraph {
    display: none;
    padding-right: 10rem;
  }
  .project-img {
    width: 100%;
  }
  .project-text-card {
    width: 100%;
    margin: 10px;
  }
  .email-link {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer-icons {
    flex-direction: column;
  }
  .footer {
    justify-content: space-evenly;
  }
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
  .project-img {
    width: 100%;
  }
  .project-text-card {
    width: 90%;
  }
}
